---
title: DeAria - центр эстетической медицины и аппаратной косметологии. Более 100 видов косметологических услуг. Запишись!
head_bg: img/header.jpg
parallax_1: img/lep1.png
parallax_2: img/lep2.png
parallax_3: img/lep3.png
svg_problem_girl: img/girl.svg
how_bg: img/how_bg.svg
four_sect_bg: img/gril_sect_bg.jpg
staff_1: img/staff_girl.jpg
staff_2: img/staff_girl.jpg
staff_3: img/staff_girl.jpg
staff_4: img/staff_girl.jpg
next_slide: img/button_next_slide.png
icon1: img/icon1.svg
icon2: img/icon2.svg
icon3: img/icon3.svg
icon4: img/icon4.svg
bowknot: img/bowknot_ico.png
modal: img/modal_girl.png
dots: img/dots.png
aboutGirl: img/Girl_about.jpg
logoMobile: img/logo_mobile.svg
dashLine: img/dash_line.svg
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_a-header.html" %}
{% include "partials/_b-about.html" %}
{% include "partials/_b-problems.html" %}
{% include "partials/_c-how_does.html" %}
{% include "partials/_d_after_first.html" %}
{% include "partials/_f-timer.html" %}
{% include "partials/_g-map.html" %}
{% include "partials/_h-footer.html" %}


{% endblock %}

