<section class="section about" style="background-image: url({{aboutGirl}});">
  <div class="about__wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-7 col-sm-12">
          <div class="about__content">
          <div class="about__title">
            Кто мы?
          </div>
          <div class="about__title--sub">
            и что предлагаем
          </div>
          <div class="about__descr">
            <p><span>Мы это центр эстетической медицины и аппаратной косметологии.</span></p>
            <p>В нашем арсенале более <span>100</span> видов косметологических услуг и решений эстетических проблем.</p>
            <p>Мы помогаем сохранить вашу природную красоту, держать руку на пульсе всех новых тенденций
            в области косметологии.</p>
            <p>Мы предлагаем <span>БЕСПЛАТНО</span> пройти проверку кожного покрова и <span>3 процедуры</span>
            по уходу и омоложению лица.</p>
            <p><span>Запишись сейчас, время и свободные кабинеты наших специалистов ограничены!</span></p>
          </div>
            {{mixins.icon('arrow_up')}}
          <a class="call_you js_popup js_value" data-form="Блок -Кто мы-" href=".mod_main" onclick="gtag('event', 'clickdopphone', { 'event_category': 'Knopka3', 'event_action': 'Najatie3', });">Записаться</a>
        </div>
        </div>
        <div class="col-lg-6 col-md-5 hidden-sm"></div>
      </div>
    </div>
  </div>
  <div class="scroll_top js_move_to">{{mixins.icon('arrow_up')}}</div>
</section>
