<section class="get section" style="background-image: url({{four_sect_bg}});">
  <div class="get__wrap">
    <div class="container">
      <div class="get__top">
        {{mixins.icon('gift')}}
        <div class="get__top--first">После</div>
        <div class="get__top--second"><span>Первого</span> <span class="family">бесплатного</span> <span>посещения</span></div>
        <div class="get__top--third">Вы получите:</div>
      </div>
      <div class="get__center">
        <div class="row">
          <div class="col-sm-3 col-lg-2 col-xs-6">
            <div class="get__icon">
              <img src="{{icon1}}" alt="">
              <div class="get__icon--text">Отдых</div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-2 col-xs-6">
            <div class="get__icon">
              <img src="{{icon2}}" alt="">
              <div class="get__icon--text">Рекомендации</div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-2 col-xs-6">
            <div class="get__icon">
              <img src="{{icon3}}" alt="">
              <div class="get__icon--text">
                Квалифицированные<br>
                процедуры
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-6 col-xs-6">
            <div class="get__icon">
              <img src="{{icon4}}" alt="">
              <div class="get__icon--text">
                Профессионального<br>
                специалиста
              </div>
            </div>
          </div>
        </div>
        <div class="get__button">
          <a href=".mod_main" data-form="Блок -Что вы получите-" class="call_back js_popup js_value" onclick="gtag('event', 'clickdopphone', { 'event_category': 'Knopka5', 'event_action': 'Najatie5', });">Записаться</a>
        </div>
      </div>
    </div>
  </div>
</section>
