<section class="staff section">
  <div class="slide">
    <div class="staff__wrap">
    <div class="staff__move-slide next_slide js_next_slide" style="background-image: url({{next_slide}});"><span></span></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="staff__step">
            <div class="staff__item"><img src="{{staff_1}}" alt="фото"></div>
            <div class="staff__decr">yooooo<br>man</div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="staff__step">
            <div class="staff__item staff__second"><img src="{{staff_2}}" alt="фото"></div>
            <div class="staff__decr">yooooo<br>man</div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="staff__step">
            <div class="staff__item"><img src="{{staff_3}}" alt="фото"></div>
            <div class="staff__decr">yooooo<br>man</div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="staff__step">
            <div class="staff__item staff__last"><img src="{{staff_4}}" alt="фото"></div>
            <div class="staff__decr">yooooo<br>man</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="slide">
    <div class="staff__wrap">
      <div class="staff__move-slide next_slide js_next_slide" style="background-image: url({{next_slide}});"><span></span></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div class="staff__step">
              <div class="staff__item"><img src="{{staff_1}}" alt="фото"></div>
              <div class="staff__decr">yooooo<br>man</div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="staff__step">
              <div class="staff__item staff__second"><img src="{{staff_2}}" alt="фото"></div>
              <div class="staff__decr">yooooo<br>man</div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="staff__step">
              <div class="staff__item"><img src="{{staff_3}}" alt="фото"></div>
              <div class="staff__decr">yooooo<br>man</div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="staff__step">
              <div class="staff__item staff__last"><img src="{{staff_4}}" alt="фото"></div>
              <div class="staff__decr">yooooo<br>man</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
