<section class="timer section" style="background-image: url({{dots}});">
  <div class="timer__wrap">
    <div class="container">
      <h3 class="timer__header">
        Ограниченное время на <br>
        <span>посещение кабинета</span>
      </h3>
      <div class="row">
        <div class="col-sm-7 col-md-6">
          <div class="timer__timer">
            <div class="timer__title">
              Примерное оставшееся время до <br>
              заполнения всех мест
            </div>
            <div class="timer__clock">
              <ul class="timer__items js_timer">
                <li class="cou_hours"></li>
                <li class="cou_min"></li>
                <li class="cou_sec"></li>
              </ul>
              <ul class="timer__name">
                <li>дней</li>
                <li>часов</li>
                <li>минут</li>
              </ul>
              {{mixins.icon('arr_ico')}}
            </div>
          </div>
        </div>
        <div class="col-sm-5 col-md-6">
          <div class="timer__gift">
            Все просто, на определенное время закрепляется индивидуальный косметолог и кабинет.
            Время наших специалистов на эту неделю подходит к концу.
            Успей подать заявку, пока еще есть место!
            <a href=".mod_main" class="call_you js_popup js_value" data-form="Блок -Время Ограничено-" onclick="gtag('event', 'clickdopphone', { 'event_category': 'Knopka6', 'event_action': 'Najatie6', });">Записаться</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
