<section class="footer section fp-auto-height">
  <div class="footer__wrap">
    <div class="footer__contacts">
      <a href="mailto:info@dearia.co.il">info@dearia.co.il {{mixins.icon('mail')}}</a>
      <a href="tel:0722798193">{{mixins.icon('phone')}} 072-27-98-193</a>
    </div>
    <div class="footer__go-top">
      Ришен ле - Цион, Ул.Моше Леви 11,<br>Бизнес центр UMI, Этаж 3 ,кабинет 313.
    </div>
    <div class="footer__buttons">
      <div class="footer__logo"><a href="http://dearia.co.il">{{mixins.icon('logo')}}</a></div>
      <div class="footer__call-back">
        <a class="footer_callback js_popup js_value" data-form="Блок -Контакты-" href=".mod_main" onclick="gtag('event', 'clickdopphone', { 'event_category': 'Knopka7', 'event_action': 'Najatie7', });">Обратная связь {{mixins.icon('footer_arr')}}</a>
      </div>
      <div class="footer__socials">
        <a href="#">{{mixins.icon('fb')}}</a>
        <a href="#">{{mixins.icon('vk')}}</a>
        <a href="#">{{mixins.icon('ok')}}</a>
        <a href="#">{{mixins.icon('int')}}</a>
      </div>
    </div>
    <div class="footer__copy">
      <p>
        &#169; 2017 <span>Dearia.</span>
      </p>
    </div>
  </div>
</section>

