<div class="mob_menu_wrap js_mobile_menu">
  <ul class="mob_mnu" id="m_menu">
    <li data-menuanchor="main" class="active js_toggle_menu">
      <a href="#main">Главная</a>
    </li>
    <li data-menuanchor="about" class="js_toggle_menu">
      <a href="#about">Кто мы</a>
    </li>
    <li data-menuanchor="problems" class="js_toggle_menu">
      <a href="#problems">Проблемы и решения</a>
    </li>
    <li data-menuanchor="how" class="js_toggle_menu">
      <a href="#how">Как это происходит</a>
    </li>
    <li data-menuanchor="get" class="js_toggle_menu">
      <a href="#get">Что Вы получите</a>
    </li>
    <li data-menuanchor="action" class="js_toggle_menu">
      <a href="#action">Время ограничено</a>
    </li>
    <li data-menuanchor="gmap" class="js_toggle_menu">
      <a href="#gmap">Как добраться</a>
    </li>
    <li data-menuanchor="contacts" class="js_toggle_menu">
      <a href="#contacts">Контакты</a>
    </li>
  </ul>
</div>
