<section class="timeline mfp-hide zoom-anim-dialog">
    <div class="timeline__wrap">
    <div class="timeline__closer">
      <div class="timeline__closer-btn js_close_popup"></div>
    </div>
    <div class="timeline__title">
      <h3>Мы ничего не продаем</h3>
      <p>
        Вся информация на сайте, описывает разовое<br>
        <span>бесплатное</span> посещение нашего салона.
      </p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="timeline__descr">
            <p>
              Вам не понадобиться ни за что платить.<br>
              Это мероприятие организовано в рамках PR акции салона.
            </p>
            <p class="js_focus_input">
              Заполните форму, и наш <br>
              менеджер <span>свяжется с Вами</span>
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="timeline__form">
            <form class="mod__fields js_form">
              <input type="hidden" name="DATA[TITLE]" value="Лендинг DeAria">
              <input type="hidden" name="DATA[SOURCE_ID]" value="WEB">
              <input type="hidden" name="DATA[SOURCE_DESCRIPTION]" value="Таймлайн форма">
              <label class="name_user">
                <span>Ваше имя</span>
                <input class="js_input js_focus" name="DATA[NAME]" data-input="name_user"  type="text" required autocomplete="off">
              </label>
              <label class="tel_num">
                <span>Ваш номер телефона</span>
                <input class="js_input js_tel_mask" name="DATA[PHONE_WORK]" data-input="tel_num"  type="tel" required autocomplete="off">
              </label>
              <button class="form_button" onclick="gtag('event', 'clickdopphone', { 'event_category': 'Knopka9', 'event_action': 'Najatie9', });">Отправить</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
