.icon-1 {
  width: 0.95em;
  height: 1em;
  fill: initial;
}
.icon-arrow_up {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-arr_ico {
  width: 2.23em;
  height: 1em;
  fill: initial;
}
.icon-box_bottom {
  width: 7.07em;
  height: 1em;
  fill: initial;
}
.icon-btn_list {
  width: 0.91em;
  height: 1em;
  fill: initial;
}
.icon-fb {
  width: 0.52em;
  height: 1em;
  fill: initial;
}
.icon-footer_arr {
  width: 1.41em;
  height: 1em;
  fill: initial;
}
.icon-gift {
  width: 0.82em;
  height: 1em;
  fill: initial;
}
.icon-int {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logo {
  width: 2.94em;
  height: 1em;
  fill: initial;
}
.icon-mail {
  width: 1.27em;
  height: 1em;
  fill: initial;
}
.icon-ok {
  width: 0.6em;
  height: 1em;
  fill: initial;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-tabs {
  width: 0.97em;
  height: 1em;
  fill: initial;
}
.icon-text {
  width: 7.07em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1.75em;
  height: 1em;
  fill: initial;
}
